/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";
/* purgecss end ignore */

@import "tailwindcss/utilities";

html {
  font-family: "Noto Sans", sans-serif;
}

/* Prevent layout from shifting when turbolinks is used */
.fontawesome-i2svg-pending body {
  display: none;
}

.fixed-img {
  max-width: none;
}
